td{
    padding: 10px;
    font-size: larger;
}
td,th{
    border:none;
    border-radius: 20px;
}
tr,td{
    padding:20px;
    

}
body{
    background-color: darkcyan;
}
*{
    padding :0px;
    margin:0px;
    font-family: 'Klee One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
text-decoration: solid;
color:white;
}
div{
    font-size: larger;
    margin:50px auto;
}
i:hover{
    cursor: pointer;
}
input{
    height: 55px;
    width:300px;
}
button{
    font-size: xx-large;
    width:200px;
    height: 120px;
    background: none;
    border:none;
}
input{
    color:black;
    border-radius: 20px;
    font-size: large;
    border:none;
}
div{
    display: flexbox;
}